*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
.header{
    width: 1440px;
    height: 2489px;
    border: 2px dashed red;
    background-color:rgba(130, 128, 128, 0.266) ;
    margin: 0 auto;
    padding: 0 140px;
    padding-top: 34px;
}
.header__nav{
    width: 100%;
    display: flex;
    gap: 123px;
    align-items: center;
}
.header__nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
 }
 .header__nav ul li{
    font-weight: 700;
    font-size: 16px;
    color: #000000;
 }
 .header__nav ul li:hover{
    color: red;
 }
 .btn{
    width: 188px;
    height: 41px;
   border-radius: 8px;
   border: 3px solid black;
   color: #000000;
   padding-top: 12px;
   padding-right: 24px;
   padding-bottom: 12px;
   padding-left: 24px;
   margin-left: 300px;
   font-weight: 700;
   font-size: 14px;
  background-color:rgba(237, 139, 139, 0.066) ;
 }
 .btn2{
    width: 136px;
    height: 41px;
    border-radius: 8px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;
    font-weight:700;
    font-size: 14px;
    background-color: #000000;
    color: white;
    box-shadow: 4px 3px 0px 0px #00000062;
 }
 .btn:hover{
    background-color: #000000;
    color: white;
 }
 .btn2:hover{
    color: red;
    box-shadow: 4px 3px 0px 0px rgb(13, 13, 14);
    background-color: rgba(240, 255, 255, 0.826);
    border: none;
 }
 .section__div{
    width: 760px;
    height: 400px;
     margin: 0 auto;
     padding-top: 30px;
    text-align: center;
 }
 .section__div--div h1{
     margin: 0 auto;
    text-align: center;
    font-weight: 700;
    font-size: 96px;
 }
 .black{
    color: #000000;
 }
 .red{
    color: #a61b06;
 }
  .section__div--div p{
   margin: 0 auto;
   padding-top: 40px;
   font-weight: 600;
   font-size: 16px;
   color: #4D4D4D;
  }
  .btn3{
    width: 218px;
    height: 62px;
    border-radius: 9px;
    border: 4px solid black;
    padding-top: 20px;
    padding-right: 36px;
    padding-bottom: 20px;
    padding-left: 36px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
    background-color: #F7EDE8;
    box-shadow: 6px 6px 0px 0px #00000040;
  }
  .btn4{
   width: 160px;
   height: 62px;
   border-radius: 8px;
   border: 4px solid black;
   padding-top: 20px;
   padding-right: 36px;
   padding-bottom: 20px;
   padding-left: 36px;
   margin-left: 20px;
   font-weight: 700;
   font-size: 14px;
   box-shadow: 6px 6px 0px 0px #00000040;
   background-color: #000000;
   color: white;
  }
  .vid{
  width: 1159px;
  height: 235px;
  display: flex;
  margin: 0 auto;
  margin-top: 115px;
  }
  .vid1{
    width: 379px;
    height: 236px;
    margin-top: 712;
    margin-left: 20px;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 8px;
    background-color: white;
    box-shadow: 6px 6px 0px 0px #CD4631;
  }
  .vid1 h2{
    text-align: center;
    padding-top: 59px;
    font-weight: 700;
   font-size: 60px;
  }
  .vid1 p {
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #4D4D4D;
 }
 .h22{
    text-align: center;
    margin-top: 140px;
    font-weight: 700;
    font-size: 40px;
 }
 .main{
    display: flex;
    margin-top: 115px;
 }
 .main2{
    width: 580px;
    height: 550px;
    display: flex;
   border-radius: 8px;
   background-color: white;
   box-shadow: 10px 10px 0px 0px #000000;
   border: 3px solid black;
   margin-left: 20px;
 }
 .main2 img{
    margin-left: 10px;
 }
 .main3{
   width: 259px;
  height: 188px;
  margin-top: 250px;
  margin-left: 20px;
 }

 .main3 h6{
    font-weight: 500;
    font-size: 14px;
    color: #4D4D4D;
 }
 .main3 h4{
    font-weight: 700;
    font-size: 37px;
    margin-top: 6px;
    color: #000000;
 }
 .main3 p{
    font-weight: 500;
    font-size: 14px;
    color:#4D4D4D;
    margin-top: 20px;
 }
.footer{
    margin-top: 219px;
}